<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>{% block title %}Home Cloud System{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery-3.6.0.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% if app.user %}{{ path("dashboard") }}{% else %}{{ path("app_login") }}{% endif %}">HomeDrive</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link {% if site is defined and site == "dashboard"%}active{% endif %}"  href="{{ path("dashboard") }} ">Strona Główna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if site is defined and site == "folder"%}active{% endif %}" href="{{ path("folder") }}">Moje Pliki</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if site is defined and site == "shares"%}active{% endif %}" href="{{ path("shares") }}">Udostępnione</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if site is defined and site == "settings"%}active{% endif %}" href="{{ path("settings") }}">Ustawienia</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path("app_logout") }}">Wyloguj</a>
                        </li>
                    {% else %}
                        {% if app.request.get('_route') == 'app_register' %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path("app_login") }}">Logowanie</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div id="alert-section">
        {% for flash in app.flashes('message') %}
            <div class="alert alert-dark" role="alert">{{ flash }}</div>
        {% endfor %}
    </div>
    {% if userSpaceInfo is defined  %}
        {% if userSpaceInfo.display %}
        <div id="info" class="container">
            <span>Wolna przestrzeń: </span>
            <span>{{ userSpaceInfo.left.number|round(2)}}{{ userSpaceInfo.left.unit  }}</span>
            <div class="progress">
                <div class="progress-bar" style="width:{{ userSpaceInfo.percent }}%" role="progressbar" aria-valuemin="0" aria-valuemax="100">{{ userSpaceInfo.percent }}%</div>
            </div>
        </div>
        {% else %}
            <div>
                <span>Nielimitowana przestrzeń</span>
            </div>
        {% endif %}
    {% endif %}
    <div id="page_wrapper">
        {% block body %}
        {% endblock %}
    </div>
    <div id="foot">
    </div>

    <div id="modal" class="modal" style="background: rgba(0,0,0,0.3)">
        <div class="modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close btn btn-outline-dark" data-dismiss="modal" aria-label="Close">X</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-send="modal">Zapisz</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function (){
          const modal = document.querySelector("#modal");
          const closeBtn = modal.querySelectorAll('[data-dismiss="modal"]');
          const body = modal.querySelector(".modal-body");

          for(let i =0; i < closeBtn.length; i++){
              closeBtn[i].addEventListener("click", function (){
                  modal.style.display = "none";
                  body.innerHTML = "";
              })
          }
        })
    </script>
    {% block script %}
    {% endblock %}
    </body>
</html>
